@import "@/styles/mixins/index";

.wrapper {
  position: relative;
}

.input-wrapper {
  display: block;
}

.field {
  &.lightColor {
    border-bottom-color: var(--grey);
  }
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: pointer;

  &-close {
    right: 0;
  }

  &-search {
    left: 0;
  }
}