.root {
  color: var(--grey);


  &:hover:not(.disabled, .active, .isArrow) {
    color: var(--black);
  }

  &.active {
    color: var(--black);

  }

  &.disabled {
    color: var(--grey);
    cursor: initial;
  }

}
