.root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--header-menu-btn-width);
  height: var(--header-menu-btn-width);
  z-index: var(--z-menu-btn);
  position: relative;
}