@import "@/styles/mixins";

.root {
  .item {
    padding: 0 0 32px;
    display: flex;
    justify-content: center;

    &.contactsPage {
      padding-bottom: 28px;

      @include breakpoint(tablet) {
        padding-bottom: 44px;
      }
    }

    &.faqPage {
      padding-bottom: 28px;

      @include breakpoint(tablet) {
        padding-bottom: 34px;

        &:last-child {
          padding-bottom: 16px;
        }
      }
    }

    @include breakpoint(tablet) {
      justify-content: flex-start;
    }
  }

  .icon_wrap {
    margin: 0 12px 0 0;
    width: 24px;
    max-width: 24px;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .title {
    padding: 0 0 12px;
  }

  .subtitle {
    font-weight: 300;
  }

  .socilals {
    padding-top: 4px;
    gap: 20px;
  }
}