@import '@/styles/mixins';
.root {
  margin: 0;
  max-width: 100vw;

  [class*='swiper-pagination-bullet']:not([class*='swiper-pagination-bullets']) {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 0 !important;
    background-color: var(--white);
    opacity: .5;
  }
  [class*='swiper-pagination-bullet-active'] {
    opacity: 1 !important;
  }

  [class*='swiper-pagination-bullets'] {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 6px;
    width: min-content;
    left: 50%;
    transform: translateX(-50%);
    bottom: 16px;
  }
}

.imageWrap {
  @include aspect-ratio-wrap(360px, 460px);
  width: 100%;
  img {
    @include aspect-ratio-image;
  }
}
