.root {
  width: 100%;
  overflow-x: auto;
}
.headingTitle {
  white-space: nowrap;
  font-weight: 500;
}

.table {
  margin-top: -8px;
  width: 100%;
  overflow: hidden;
  border-collapse: separate;
  border-spacing: 0 8px;
  & td {
    vertical-align: middle;
  }
}


.thead {
  background-color: var(--grey-light-2);

  .tr {
    .th {
      &:first-child {
        border-radius: 4px 0 0 4px;
      }
      &:last-child {
        border-radius: 0 4px 4px 0;
      }
      &.left {
        text-align: left;
      }
      &.center {
        text-align: center;
      }
      &.right {
        text-align: right;
      }

      .thWrap {
        display: flex;
        align-items: center;
        padding: 16px;
        gap: 12px;
        &.left {
          justify-content: flex-start;
        }
        &.center {
          justify-content: center;
        }
        &.right {
          justify-content: flex-end;
        }
      }
    }
  }
}

.tbody {
  .td {
    &:first-child {
      border-left: 1px solid var(--grey-light);
      border-radius: 4px 0 0 4px;
    }
    &:last-child {
      border-right: 1px solid var(--grey-light);
      border-radius: 0 4px 4px 0;
    }
    border-top: 1px solid var(--grey-light);
    border-bottom: 1px solid var(--grey-light);

    &.left {
      text-align: left;
      .tdWrap {
        justify-content: flex-start;
      }
    }
    &.center {
      text-align: center;
      .tdWrap {
        justify-content: center;
      }
    }
    &.right {
      text-align: right;
      .tdWrap {
        justify-content: flex-end;
      }
    }

    .tdWrap {
      padding: 16px;
      display: flex;
    }
  }

}

